body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(image/img01.jpg) repeat-x;
	font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
	color: #999999;
}

h1, h2, h3 {
	margin: 0;
	

}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

img {
	border: none;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

#header {
	width: 700px;
	height: 200px;
	margin: 0 auto;
}

#logo {
	height: 110px;
}

#logo h1 {
	float: left;
	padding: 40px 40px 0 0;
	background: url(image/img02.gif) no-repeat right center;
	letter-spacing: -2px;
	font-size: 48px;
}

#logo h2 {
	float: right;
	padding: 61px 0 0 0;
	font-size: 24px;
	
}

#logo a {
	text-decoration: none;
	color: #1A1A1A;
}

#menu {
	height: 70px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 140px;
	height: 45px;
	padding-top: 25px;
	text-decoration: none;
	text-align: center;
	letter-spacing: -2px;
	font-size: 30px;
	color: #B8BD52;
}

#menu a:hover {
    background: url(image/img03.jpg) no-repeat;
	color: #FFFFFF;
	
}

#gallery {
	clear: both;
	width: 700px;
	height: 480px;
	margin: 0 auto;
}